<%= provide(:title, "All Ideas") %>

<h2>View all ideas<h2>

<table class="table table-bordered table-striped">
  <tr>
    <th>Name</th>
    <th>Creator</th>
    <th>Rating</th>
    <th>Created</th>
  </tr>
  <%= render collection: @ideas, partial: "ideas/_idea", as: :idea %>
</table>

<%= will_paginate @ideas %>