<%= provide(:title, @user.name) %>

<div class="user_pages container">
	<div class="user_info">
		<span class="span12 inline">
			<%= gravatar_for @user %>
			<h1><%= @user.name %></h1>
		</span>
	</div>

	<div class="user_ideas">
		<span class="span6 left">
			<h3><%= @user.name %>'s Ideas</h3>
		</span>
		<span class="span6 right">
			<p>Sort by:</p>
		</span>
	</div>
</div>
<hr />