@import "bootstrap";

//$brown: #2E1B01; 
//$brown: #462A02;
$black: #0B0B0B;
$green: #058F00;
$darkGreen: darken($green, 15%);
$navbarFont: 'cm_sans_serif_2012medium';
$mainFont: 'coolvetica_rgregular';

/*------------------ Fonts ------------------*/

@font-face {
    font-family: 'cm_sans_serif_2012medium';
    src: url('cm_sans_serif_2012-webfont.eot');
    src: url('cm_sans_serif_2012-webfont.eot?#iefix') format('embedded-opentype'),
         url('cm_sans_serif_2012-webfont.woff') format('woff'),
         url('cm_sans_serif_2012-webfont.ttf') format('truetype'),
         url('cm_sans_serif_2012-webfont.svg#cm_sans_serif_2012medium') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
	font-family: 'evil_green_plantregular';
	src: url('evilgreenplant1-webfont.eot');
	src: url('evilgreenplant1-webfont.eot?#iefix') format('embedded-opentype'),
     	 url('evilgreenplant1-webfont.woff') format('woff'),
     	 url('evilgreenplant1-webfont.ttf') format('truetype'),
     	 url('evilgreenplant1-webfont.svg#evil_green_plantregular') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
    font-family: 'coolvetica_rgregular';
    src: url('coolvetica_rg-webfont.eot');
    src: url('coolvetica_rg-webfont.eot?#iefix') format('embedded-opentype'),
         url('coolvetica_rg-webfont.woff') format('woff'),
         url('coolvetica_rg-webfont.ttf') format('truetype'),
         url('coolvetica_rg-webfont.svg#coolvetica_rgregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

/*------------------ Header ------------------*/

#logo{
	float: left;
	color: $green;
	line-height: 1;
	font-size: 1.7em;
	padding-top: 10px;

	&:hover{
		text-decoration: none;
	}
}

.navbar{

	font-family: $navbarFont;

	.navbar-inner{
		background-color: $black;

		background-image: -moz-linear-gradient(top, $black, lighten($black, 10%));
		background-image: -ms-linear-gradient(top, $black, lighten($black, 10%));
		background-image: -webkit-gradient(linear, 0 0, 0 50%, from($black), to(lighten($black, 10%)));
		background-image: -webkit-linear-gradient(top, $black, lighten($black, 10%));
		background-image: -o-linear-gradient(top, $black, lighten($black, 10%));
		background-image: linear-gradient(top, $black, lighten($black, 10%));
		background-repeat: repeat-x;

		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$black', endColorstr='lighten($black, 10%)', GradientType=0);

		border: 0;
	}

	li{

		padding-top: 4px;

		a{
			transition-property: color;
			transition-duration: .3s;
			-moz-transition-property: color;
			-moz-transition-duration: .3s;
			-webkit-transition-property: color;
			-webkit-transition-duration: .3s;
			-o-transition-property: color;
			-o-transition-duration: .3s;
		
			&:hover{
				color: $green !important;
			}
		}
	}

	.navbar-search{
	    margin-top: 3px;
	    margin-left: 60px;
	}
}

/*------------------ Footer ------------------*/

footer {
  	margin-top: 45px;
 	padding-top: 5px;
  	border-top: 1px solid #EAEAEA;
  	color: #999;
}

#footer_link{
	color: #999;
}

/*------------------ Body ------------------*/
body{
	padding-top: 60px;
}

.h1, .h2, .h3, .h4, .h5, .h6{
	margin-top: 0 !important;
}

.center{
	text-align: center;
}

span{
	margin-left: 0 !important;
}

.inline{
	display: inline;
}

/*------------------ Buttons ------------------*/
.btn-custom {

  	background-color: hsl(102, 84%, 12%) !important;
  	background-repeat: repeat-x;
  	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="$green", endColorstr="$darkGreen");
  	background-image: -khtml-gradient(linear, left top, left bottom, from($green), to($darkGreen));
  	background-image: -moz-linear-gradient(top, $green, $darkGreen);
  	background-image: -ms-linear-gradient(top, $green, $darkGreen);
  	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, $green), color-stop(100%, $darkGreen));
	background-image: -webkit-linear-gradient(top, $green, $darkGreen);
  	background-image: -o-linear-gradient(top, $green, $darkGreen);
  	background-image: linear-gradient($green, $darkGreen);
  	border-color: $darkGreen $darkGreen hsl(102, 84%, 4.5%);
  	color: #fff !important;
  	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.49);
  	-webkit-font-smoothing: antialiased;
  	font-family: $mainFont;

  	&:hover{
  		background-color: $darkGreen !important;
  	}
}

/*------------------ Devise Views ------------------*/
.signup, .signin, .reset{

	padding-top: 30px;
	margin-left: 0px;

	.left{
		float: left;
		margin-left: 0px;
		padding-top: 5px;
		text-align: left;
	}

	.right{
		float: right;
		margin-left: 0px;
	}

	.labels{
		display: block;
		padding-left: 60%;
		padding-bottom: 15px;
		line-height: 20px;
	}

	.fields{
		display: block;
	}
}

.new_user{
	margin-bottom: 0px;
}

/*------------------ Flash Alerts ------------------*/
.alert{
    
    border-radius: 1;

    &.alert-error{
       
        ul{
            list-style-type: none;
            margin: 0;
        }
    }

    &#flash_alert{
        margin-bottom: 10px;
    }
}

#error-explanation{
    
    ul{
        list-style-type: none;
        margin: 0;
    }
}

/*------------------ User Pages ------------------*/
.gravatar{
	float: left;
}

.user_pages{
	h1{
		float: left;
		margin-top: 20px;
		margin-left: 20px;
	}

	.user_ideas{
		margin-top: 140px;
	}

	.left{
		float: left;
		text-align: left;
	}

	.right{
		float: right;
		line-height: 20px;
		padding-top: 27px;
		text-align: right;
	}
}

/*------------------ Search ------------------*/
#search-field{
	min-height: 13px;
	max-height: 13px;
	margin-top: 3px;
}

#search-button{
	margin-bottom: 10px;
}